 
.row
  .col-md-4
    .user_info
      %td
        =  image_tag @user.avatar.url(:thumb)
      
      %td
        =link_to "download","/users/avatar_download/#{@user.id}"
          
      
        =link_to "xoa" , delete_path ,  method: :delete, data: { confirm: 'Are you sure?' }
      %td
        %ul
          %li 
            %td
              Name: 
              =@user.name
          %li
            %td
              Email: 
              =@user.email 
          %li
            %td
              Address: 
              =@user.address
          %li
            %td
              Phone : 
              =@user.phone 